@mixin box-shadow($boxShadow) {
     box-shadow: $boxShadow;
   }
    $languageBox: 0px 30px 60px 0px #ba1212, 0px 0px 0px #000 inset;
   
   


.languageBlock{
     width: 200px;
     padding: 4px 4px;
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     transition: all 0.5s ease;
     height: 50px;
     z-index: 1;
     background: #fff;
     @include box-shadow($languageBox);
     .Languages{
          display: flex;
          width: 100%;
          padding: 4px 4px;  
          border-radius: 10px;
          position: relative;
          z-index: 1;
          align-items: center;
          justify-content: space-between;
          .Langs{
               width: 35px;
               height: 35px;
               border-radius: 50%;
               // background: #ba1212;
               display: flex;
               z-index: 2;
               position: relative;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);;
               .language{
                    border: none;
                    background: none;
               }
          .flags{
          user-select: none;
        width: 100%;
        height:  100%;
        position: absolute;
        top: 0;
        background: none;
        border-radius: 50%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        object-fit: cover;
}    



&:hover{
     transform: translateY(-5px);
     &:hover .title{
          transform: translateY(55px);
          visibility: visible;
          opacity: 1;
     }   
}     
.title{
     background: #fff;
      transform: translateY(0); 
     padding: 5px 12px;
     visibility: hidden;
     opacity: 0;
     transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
user-select: none;
}    
          }
     }
     
}



@media screen and(max-width: 568px){

     .languageBlock{
          width: 110px;
          height: 195px;
          display: flex;
           z-index: 0;
          transition: 0.3s ease;
          position: fixed;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;
     .Languages{
          flex-direction: column;
          .Langs{
               margin: 7.1px;
               top: 16px;
               &:hover{
                    transform: scale(1.2);
                    &:hover .title{
                         transform: translateX(5.1em);
                         visibility: visible;
                         opacity: 1;
                    }   
               }     
          }
     }
     }
     }