.resultBlock {
  width: 100%;
  height: 750px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2980b9), color-stop(#8e44ad), to(#2c3e50));
  background-image: linear-gradient(#2980b9, #8e44ad, #2c3e50);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultBlock .counterBlock {
  width: 80%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 30px 60px 0px #666666, 0px 0px 0px #000 inset;
  box-shadow: 0px 30px 60px 0px #666666, 0px 0px 0px #000 inset;
}

.resultBlock .counterBlock .counters {
  background-color: #7b614f;
  width: 300px;
  margin: 4px 4px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 4px;
}

.resultBlock .counterBlock .counters > i {
  font-size: 35px;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #ffffff;
}

.resultBlock .counterBlock .counters:hover > i {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.resultBlock .counterBlock .counters .otherBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultBlock .counterBlock .counters:hover .otherBlock {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 568px) {
  .resultBlock .counterBlock {
    height: 500px;
  }
  .resultBlock .counterBlock .counters .otherBlock .headOfCounter {
    font-size: 18px;
  }
  .resultBlock .counterBlock .counters .otherBlock .paragraphOfCounter {
    font-size: 12px;
  }
  .resultBlock .counterBlock .counters {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 1300px) {
  .resultBlock .counterBlock {
    height: 700px;
  }
  .resultBlock .counterBlock .counters .otherBlock .headOfCounter {
    font-size: 18px;
  }
  .resultBlock .counterBlock .counters .otherBlock .paragraphOfCounter {
    font-size: 12px;
  }
  .resultBlock .counterBlock .counters {
    width: 200px;
    height: 200px;
  }
}
/*# sourceMappingURL=resultBlock.css.map */